body {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* height: 100vh; */
  margin: 0;
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
button {
  cursor: pointer;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 20px;
  gap: 20px;
}
.start-container {
  width: 300px;
  height: 400px;
  background-color: rgb(225, 236, 244);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 20px;
  gap: 20px;
  color: #418c9f;
}
.main-img {
  display: block;
  width: 170px;
  margin: 0 auto;
}
.start-button {
  display: block;
  width: 100%;
  padding: 20px;
  background-color: rgb(225, 236, 244);
  color: #418c9f;
  border: none;
  border-radius: 30px;
  font-size: 28px;
  font-weight: 600;
}
.start-button:hover {
  background-color: #418c9f;
  color: rgb(225, 236, 244);
  border: 2px solid rgb(225, 236, 244);
}
.male-button {
  display: none;
  width: 300px;
  padding: 40px 20px;
  background-color: rgb(225, 236, 244);
  color: #418c9f;
  border: none;
  border-radius: 30px;
  font-size: 28px;
  font-weight: 600;
}
.female-button {
  display: none;
  width: 300px;
  padding: 40px 20px;
  background-color: rgb(244, 225, 235);
  color: #da0488;
  border: none;
  border-radius: 30px;
  font-size: 28px;
  font-weight: 600;
}
.male-button:hover {
  background-color: #1cb0e1;
  color: rgb(225, 236, 244);
}
.female-button:hover {
  background-color: #e11c95;
  color: rgb(244, 225, 235);
}
